services:
  authorization-db:
    image: postgres:17-bookworm
    container_name: authorization-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=authorization
      - POSTGRES_HOST_AUTH_METHOD=trust